.calendar-picker {
  .calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
  }

  .calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    text-align: center;
  }

  .calendar-day-name {
    font-weight: bold;
  }

  .calendar-day,
  .calendar-day-name {
    padding: 2px;
    border-radius: 4px;
    font-size: 14px;
    width: 32px;
    height: 32px;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .calendar-day {
    cursor: pointer;

    &.disabled {
      // opacity: 0.5; /* Set opacity to 0.5 for disabled days */
      color: #9ca9b9; /* Optional: greyed out color for text */
      cursor: not-allowed; /* Change cursor to indicate disabled */
    }

    // &:hover:not(.disabled) {
    //   background-color: #9ca9b9;
    // }
  }

  .selected {
    background-color: #001a41;
    color: #fff;
    font-weight: bold;
    border-radius: 8px;
  }

  .out-of-month {
    // opacity: 0.5; /* Make out-of-month days translucent */
    color: #9ca9b9; /* Optional: gray color for out-of-month days */
  }

  /* Styling for the disabled previous month button */
  #calendar-left.disabled {
    opacity: 0.5; /* Set opacity to 0.5 for disabled previous button */
    cursor: not-allowed; /* Indicate that it's disabled */
  }
}
